<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Currency Rates</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <main role="main" class="container">
      <div class="jumbotron">
        <p class="lead">Please select the Currencies from the list below:</p>
          <form method="POST">
              <div class="form-check">
                {% for opt in options %}
                  <input type="checkbox" class="form-check-input" name="my_checkbox" value={{opt}} id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">{{opt}}</label>
                  <br>
                {% endfor %}
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
    </main>
    {% endblock %}
  </body>
</html>