<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Main Page</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <main role="main" class="container">
      <div class="jumbotron">
        <h1>Currency Exchange and Rate Control</h1>
        <p class="lead">This Application showcases ability of connection to a bank API to download and manipulate XML data, and later demonstrate it as charts or download it as pdf format.</p>
      </div>
    </main>
    
    {% endblock %}
  </body>
</html>